.header-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  
}
.navLink{
margin-left: 20px;
align-items: center;
align-content: center;
text-decoration: none;
color: red;
font-size: larger;
font-weight: 700;
align-items: center;
}
.cart-count{
    position: absolute;
top: 10px;
}